.selectCard {
  background: #2e3539 !important;
}

.card {
  background: #2e3539;
  border-radius: 2px;
  min-height: 30vh;
  max-height: 50vh;
  margin: 1rem;
  min-width: 15vw;
  text-align: left;
  transform: scale(1.5);
}

.card:hover {
  box-shadow: 0 6px 40px #15e231, 0 6px 15px #999;
}

.card > .img-container {
  height: 60%;
  overflow: hidden;
  text-align: center;
  background:#2e3539;
  background: cover;
}
.card > .img-container > img {
  width: 100%;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  color:#15e231;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}



