.contact-title {
  text-align: center;
}

.resume {

}


.form {
  margin: 1rem;
  margin-left: 10rem;
}

.hello {
  margin-left: 10rem;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30rem;
}

textarea.message {
  inline-size: 150px;
  overflow-wrap: normal !important;
  hyphens: manual;
  width: 30rem;
  height: 30vh;
}

.submit:hover {
  color:black;
box-shadow: 0 6px 40px #15e231, 0 6px 15px #999;
}

@media only screen and (max-width: 1000px) {
  .form,
  .form input,
  input.message {
    width: 80%;
    margin: 2rem;

  }

}


@media only screen and (max-width: 600px) {
  .form,
  .form input,
  input.message {
    width: 95%;
    margin: 0;

  }

}