
.page-title {
  text-align: center;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
}

.avatar-container .avatar {
  height: 40vh;
  border-radius: 20px;
}

.statement {
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}