
.page-title {
  text-align: center;
}

.avatar-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* align-items: center; */
}

.avatar {
  /* display: inline-block; */
  /* background-image: url("../../assets/images/avatar.jpg"); */
  height: 40vh;
}

.links a {
  /* display: inline-block;; */
  /* text-align: center; */

}

.statement {
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
}